In [93]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [94]:
cafe_sales = pd.read_csv(r'datasets\cafe_sales.csv')

In [95]:
cafe_sales.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,9/8/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,5/16/2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,7/19/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,4/27/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,6/11/2023

In [96]:
cafe_sales.shape

(10000, 8)

In [97]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [98]:
cafe_sales['Transaction ID'].duplicated().any()

np.False_

In [99]:
cafe_sales['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [100]:
cafe_sales['Item'].replace(['UNKNOWN','ERROR'], 'Unknown', inplace = True)

C:\Users\man\AppData\Local\Temp\ipykernel_9428\1288744344.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cafe_sales['Item'].replace(['UNKNOWN','ERROR'], 'Unknown', inplace = True)

In [101]:
cafe_sales['Item'].fillna('Unknown', inplace = True)

In [102]:
cafe_sales['Quantity'].value_counts()

Quantity
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     171
ERROR       170
Name: count, dtype: int64

In [103]:
cafe_sales['Quantity'].replace(['UNKNOWN','ERROR'], 0, inplace = True)

C:\Users\man\AppData\Local\Temp\ipykernel_9428\2248234020.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cafe_sales['Quantity'].replace(['UNKNOWN','ERROR'], 0, inplace = True)

In [104]:
cafe_sales['Quantity'].fillna(0, inplace = True)

In [105]:
cafe_sales['Quantity'] = pd.to_numeric(cafe_sales['Quantity']).astype('Int64')

In [106]:
cafe_sales['Price Per Unit'].value_counts()

Price Per Unit
3          2429
4          2331
2          1227
5          1204
1          1143
1.5        1133
ERROR       190
UNKNOWN     164
Name: count, dtype: int64

In [107]:
cafe_sales['Price Per Unit'].replace(['UNKNOWN', 'ERROR'], 0, inplace = True)

C:\Users\man\AppData\Local\Temp\ipykernel_9428\1371756638.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cafe_sales['Price Per Unit'].replace(['UNKNOWN', 'ERROR'], 0, inplace = True)

In [108]:
cafe_sales['Price Per Unit'].fillna(0, inplace = True)

In [109]:
cafe_sales['Price Per Unit'] = pd.to_numeric(cafe_sales['Price Per Unit']).astype('Float64')

In [110]:
# replacing missing values with quantity*price per unit because total sales =  quantity * price per unit
cafe_sales['Total Spent'] = cafe_sales['Quantity']*cafe_sales['Price Per Unit']

In [111]:
cafe_sales['Total Spent'] = pd.to_numeric(cafe_sales['Price Per Unit']).astype('Float64')

In [112]:
cafe_sales['Payment Method'].value_counts()

Payment Method
Digital Wallet    2291
Credit Card       2273
Cash              2258
ERROR              306
UNKNOWN            293
Name: count, dtype: int64

In [113]:
cafe_sales['Payment Method'].replace(['UNKNOWN', 'ERROR'], 'Unknown', inplace = True)

C:\Users\man\AppData\Local\Temp\ipykernel_9428\2469285048.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cafe_sales['Payment Method'].replace(['UNKNOWN', 'ERROR'], 'Unknown', inplace = True)

In [114]:
cafe_sales['Payment Method'].fillna('Unknown', inplace = True)

In [115]:
cafe_sales['Location'].replace(['UNKNOWN', 'ERROR'], 'Unknown', inplace = True)

C:\Users\man\AppData\Local\Temp\ipykernel_9428\916232307.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cafe_sales['Location'].replace(['UNKNOWN', 'ERROR'], 'Unknown', inplace = True)

In [116]:
cafe_sales['Location'].fillna('Unknown', inplace = True)

In [117]:
#replaces unknown and error value with null value
cafe_sales['Transaction Date'] = cafe_sales['Transaction Date'].replace(['UNKNOWN', 'ERROR'], pd.NA)

In [118]:
cafe_sales['Transaction Date'] = pd.to_datetime(cafe_sales['Transaction Date'])

In [119]:
#dropping rows with unknown transaction dates 
cafe_sales = cafe_sales.dropna(subset=['Transaction Date'])

In [120]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9540 non-null   Int64
 3   Price Per Unit    9540 non-null   Float64
 4   Total Spent       9540 non-null   Float64
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: Float64(2), Int64(1), datetime64[ns](1), object(4)
memory usage: 698.7+ KB

In [121]:
cafe_sales.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,2.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,3.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,1.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,5.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2,2.0,2.0,Digital Wallet,In-store,2023-06-11

In [124]:
#total spent mixed up cause of the droped rows so recalculations
cafe_sales['Total Spent'] = cafe_sales['Quantity']*cafe_sales['Price Per Unit']

In [125]:
cafe_sales.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Unknown,Unknown,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [126]:
cafe_sales.to_csv(r'datasets\cleaned_cafe_sales.csv', index=False)